<ol class="breadcrumb">
  <li><a routerLink="/">Home</a></li>
  <li><a [routerLink]="'/'+this.routeData.apiRoute">Teams</a></li>
  <li class="active">Players</li>
</ol>
<div *ngFor="let player of players$ | async" class="col-md-3 col-md-4 col-sm-6 col-xs-12">
    <a [routerLink]="player.slug">
        {{player.name}}
    </a>
</div>
<div class="col-sm-12">
    <nav aria-label="...">
      <ul class="pager">
        <li><a (click)="previous()">Previous</a></li>
        <li><a (click)="next()">Next</a></li>
      </ul>
    </nav>
</div>
<!-- TODO:
        add pagination
-->
